@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

:host {
  .avatar-container {
    @include flexCenteredItems();
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: rgba(22, 177, 254, 0.4);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.6);

    .empty-avatar-icon-container {
      @include flexCenteredItems();
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      .empty-avatar-icon {
        @include flexCenteredItems();
        width: 61%;
        height: 61%;
      }

      .add-avatar-icon {
        position: absolute;
        top: 3rem;
        right: 3%;
        font-size: 1.75rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
