@import "../../../styles/colors.scss";
@import "../../../styles/media-sizes.scss";
@import "../../../styles/mixins.scss";

:host {
  height: 100vh;

  .navbar-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: $smoked-dark;
    z-index: 405;
    align-items: center;
    padding-left: 1rem;
    box-shadow: inset 0 0 3px #fff;
    border-radius: 5px;
    padding-top: 4rem;

    .user-avatar {
      @include flexCenteredItems();
      margin: 1.5rem 0;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
      padding: 0.25rem;
    }

    .user-pseudo {
      position: relative;
      color: rgb(150, 149, 149);
      font-weight: 600;
      font-size: 2rem;
      line-height: 3rem;
      width: 95%;
      padding: 0.5rem 0;
      text-wrap: wrap;

      &::before {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .side-nav-content {
      display: flex;
      flex-direction: column;
      width: 95%;

      .side-nav-section-label {
        font-size: 2.25rem;
        font-weight: 600;
        font-family: KhandRegular;
        color: rgb(172, 214, 252, 0.5);
        margin: 0;
      }

      .side-nav-section-actions {
        padding: 0;
        margin-bottom: 1rem;
        list-style: none;
        color: #fff;
        font-weight: 200;
        font-size: 1.75rem;

        & > * {
          margin: 0.5rem 0;
          cursor: pointer;
          line-height: 2.75rem;
          transition: color 0.3s ease-in-out;
          padding: 0.75rem;
          border-radius: 5px;

          &:not(.active):hover {
            background-color: rgba(0, 0, 0, 0.15);
          }

          &.active {
            color: rgb(157, 219, 255);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $media-S) {
  .navbar-container {
    width: 33rem !important;
  }
}

@media screen and (min-width: $media-MD) {
  .navbar-container {
    position: static !important;
    width: 25rem !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: none !important;
  }

  .user-pseudo {
    margin: 5rem 0;
  }
}

@media screen and (min-width: $media-M) {
  .navbar-container {
    width: 28rem !important;
  }
}

@media screen and (min-width: $media-L) {
  .navbar-container {
    width: 33rem !important;
  }
}

@media screen and (min-width: $media-XL) {
  .navbar-container {
    width: 24.5rem !important;

    .user-pseudo {
      margin: 0;
      margin-bottom: 3rem;
    }
  }
}
