$light-blue: rgb(78, 126, 169);
$smoked-dark: rgba(0, 0, 0, 0.73);
$smoked-white: rgb(251, 248, 242);
$primary: rgb(60, 142, 228);
$secondary: rgb(7, 56, 109);
$pastel-violet: rgb(108, 90, 126);
$pastel-red: rgb(236, 97, 42);
$pastel-green: rgb(42, 160, 76);
$pastel-orange: rgb(255, 132, 0);
